.BigCounterContainer {
    justify-content: center;
    background-color: black;
    width: 440px;
    text-align: center;
    }
    
.BigCounterContainer div{
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: greenyellow;
    font-family:Impact;
    padding: 4px;
    margin: 3px;
    }
